<h1>Hello Rails</h1>

<%= form_with model: @user, url: user_path do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :username, "Username:" %>
  <%= form.text_field :username, autofocus: true %><br>
  <br>
  <%= form.label :email, "Email:" %>
  <%= form.email_field :email, placeholder: 'example@example.com'
 %><br>
  <br>  
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %><br>
  <br>  
  <%= form.submit "Submit" %>
<% end %>
